<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage access</title>
    </head>
    <body>
        <main>
            <article>
                <h1>Manage access</h1>
                <h3>Keys</h3>
                <table>
                    <thead>
                        <th>Valid</th>
                        <th>Tag</th>
                        <th>Value</th>
                        <th>Added at</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% keys.forEach(function(k) { %>
                        <tr>
                            <td>
                                <form action="/access/<%= k.id %>/toggle" method="post">
                                    <button type="submit"><%= k.valid ? 'disable' : 'enable' %></button>
                                </form>
                            </td>
                            <td><%= k.tag %></td>
                            <td><%= k.id %></td>
                            <td><%= new Date(k.added).toLocaleString() %></td>
                            <td>
                                <form action="/access/<%= k.id %>/remove" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <ul></ul>
                <form action="/access/new" method="post">
                    <label for="tag">Add new key</label>
                    <input type="text" name="tag" placeholder="Tag" />
                    <button type="submit">Add</button>
                </form>
            </article>
            <article>
                <h1>Instagram accounts and activities</h1>
                <ul>
                    <% accounts.forEach((a) => { %>
                    <li>
                        <div>
                            <div>
                                <b><%= a.username %></b> (<%= a.active ? 'active' : 'disabled' %>)
                                <form action="/account/<%= a.id %>/toggle" method="post">
                                    <button type="submit"><%= a.active ? 'disable' : 'enable' %></button>
                                </form>
                            </div>

                            <form action="/account/<%= a.id %>/update" method="post">
                                <div>
                                    <label for="follow_target">Follow target</label>
                                    <input name="follow_target" type="number" value="<%= a.follow_target %>" min="0" max="400" />
                                </div>
                                <div>
                                    <label for="post_target">Post target</label>
                                    <input name="post_target" type="number" value="<%= a.post_target %>" min="0" max="400" />
                                </div>
                                <div>
                                    <label for="timespan">Timespan (hours)</label>
                                    <input step="0.01" name="timespan" type="number" value="<%= a.timespan %>" min="0,001" max="1000" />
                                </div>
                                <div>
                                    <label for="follow_base">This account's followers will be followed</label>
                                    <input name="follow_base" type="text" value="<%= a.follow_base %>" placeholder="Follow base @" />
                                </div>
                                <button type="submit">Save</button>
                            </form>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <div>
                    <form action="/account/new" method="post">
                        <div>Add new account</div>
                        <ul>
                            <li>
                                <input type="text" name="username" placeholder="Username" />
                            </li>
                            <li>
                                <input type="password" name="password" placeholder="Password" />
                            </li>
                            <li>
                                <label for="follow_target">Number of people to follow under one timespan</label>
                                <input name="follow_target" type="number" value="0" min="0" max="400" />
                            </li>
                            <li>
                                <label for="post_target">Number of posts to publish under one timespan</label>
                                <input name="post_target" type="number" value="0" min="0" max="400" />
                            </li>
                            <li>
                                <label for="timespan">Timespan (hours)</label>
                                <input step="0.01" name="timespan" type="number" value="24" min="0.01" />
                            </li>
                        </ul>
                        <button type="submit">Add</button>
                    </form>
                </div>
                <div>
                    <h1>Account activity</h1>
                    <form action="/activity/toggle" method="post">
                        <button type="submit"><%= activity.enabled ? 'disable' : 'enable' %></button>
                    </form>
                    <ul>
                        <li>Current account: <%= activity.account?.username ?? 'N/A' %></li>
                        <li>Posts: <%= activity.progress.posts %>/<%= activity.progress.totalPosts %></li>
                        <li>Follows: <%= activity.progress.follows %>/<%= activity.progress.totalFollows %></li>
                        <li>
                            Elapsed time: <%= activity.enabled ? Math.floor(activity.progress.elapsedTime / 1000 / 60) + 'm/' + Math.floor(activity.progress.totalTime / 1000 / 60) + 'm' : 'N/A' %>
                        </li>
                        <li>Account queue: <%= activity.progress.accounts.map((id) => accounts.find((a) => a.id == id)?.username ?? x).join(', ') %></li>
                    </ul>
                </div>
            </article>
        </main>
    </body>
</html>
