<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage access</title>
    </head>
    <body>
        <main>
            <h1>Manage access</h1>
            <h3>Keys</h3>
            <table>
                <thead>
                    <th>Valid</th>
                    <th>Tag</th>
                    <th>Value</th>
                    <th>Added at</th>
                    <th></th>
                </thead>
                <tbody>
                    <% keys.forEach(function(k) { %>
                    <tr>
                        <td>
                            <form action="/access/<%= k.id %>/toggle" method="post">
                                <button type="submit"><%= k.valid ? 'disable' : 'enable' %></button>
                            </form>
                        </td>
                        <td><%= k.tag %></td>
                        <td><%= k.id %></td>
                        <td><%= new Date(k.added).toLocaleString() %></td>
                        <td>
                            <form action="/access/<%= k.id %>/remove" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <ul></ul>
            <form action="/access/new" method="post">
                <label for="tag">Add new key</label>
                <input type="text" name="tag" placeholder="Tag" />
                <button type="submit">Add</button>
            </form>
        </main>
    </body>
</html>
