<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Archived posts</title>
        <link rel="stylesheet" href="/public/global.css" />
    </head>
    <body>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/archived">Archives</a>
            <a href="/waiting">To upload</a>
            <a href="/queries">Queries</a>
            <a href="/access">Admin</a>
        </nav>
        <main class="main">
            <div class="posts">
                <form action="/archived/clear" method="post">
                    <label for="n">Number of archived posts to delete</label>
                    <input name="n" type="number" min="1" max="<%= archived.length %>" />
                    <button type="submit">Ok</button>
                </form>
                <% archived.forEach(function(p) { %>
                <div class="post">
                    <div class="title">'<%= p.title %>'</div>
                    <div class="meta">by <%= p.author %> at <%= new Date(p.created_utc * 1000).toLocaleString() %></div>
                    <div class="meta">
                        <span class="up"><%= p.ups %>up</span> / <span class="down"><%= p.downs %>down</span> (<%= p.upvote_ratio %> ratio) | <%= p.num_comments %> comments
                    </div>
                    <div class="meta">Type: <span class="type"><%= p.post_hint %></span> (saved as <a target="_blank" href="/<%= p.file %>">/<%= p.file %></a>)</div>
                    <% if (p.over_18) { %>
                    <div class="nsfw">NSFW</div>
                    <% } %>
                    <!--  -->
                    <% if(p.is_video) { %>
                    <div>
                        <div class="meta">Duration: <%= p.duration %>s | <%= p.bitrate_kbps %>kbps bitrate</div>
                        <video width="360" height="360" controls>
                            <source src="/<%= p.file %>" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <% } else { %>
                    <div class="meta"><img width="360" height="360" src="/<%= p.file %>" /></div>
                    <% } %>
                    <div>
                        <form action="/archived/<%= p.id %>/manage" method="post">
                            <div class="accept">
                                <button class="reject" type="submit" value="1" name="remove">Delete</button>
                                <button class="ok" type="submit" value="0" name="remove">Remove from archives</button>
                            </div>
                        </form>
                    </div>
                </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>
