<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>heheheha</title>
    </head>
    <body>
        <div><%= foo %></div>
        <% pending.forEach(function(p) { %>
        <hr />
        <div>'<%= p.title %>' by <%= p.author %> at <%= new Date(p.created_utc * 1000).toLocaleString() %></div>
        <div><%= p.ups %>up / <%= p.downs %>down (<%= p.upvote_ratio %> ratio) | <%= p.num_comments %> comments</div>
        <div>Type: <%= p.post_hint %> (saved as <a target="_blank" href="/<%= p.file %>">/<%= p.file %></a>)</div>
        <div><%= p.over_18 ? 'nsfw' : '' %></div>
        <% if(p.is_video) { %>
        <div>
            <div>Duration: <%= p.duration %>s | <%= p.bitrate_kbps %>kbps bitrate</div>
            <video width="360" height="360" controls>
                <source src="/<%= p.file %>" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <% } else { %>
        <div><img width="360" height="360" src="/<%= p.file %>" /></div>
        <% } %>
        <div><%= !p.accepted ? 'Not accepted': 'Accepted by ' + p.accepted_by %></div>
        <div>
            <form action="/approve/<%= p.id %>" method="post">
                <div>
                    <label for="caption">Caption</label>
                    <textarea name="caption" cols="60" rows="4"><%= p.caption %></textarea>
                </div>
                <div>
                    <label for="account">Choose account to upload from</label>
                    <select name="account">
                        <% accounts.forEach(function(a) { %>
                        <option value="<%= a.id %>"><%= a.username %></option>
                        <% }); %>
                    </select>
                </div>
                <div>
                    <button type="submit" value="1" name="accept">Accept</button>
                    <button type="submit" value="0" name="accept">Remove</button>
                </div>
            </form>
        </div>
        <% }); %>
    </body>
</html>
